<div class="row">
  <h1>Congratulations!</h1>
  <div class="col-sm-12">
    <p class="text-center">Your timesheet was successfully created.</p>
    <p class="text-center">
      Click on the button below to download your timesheet.
    </p>
    <button type="button" class="btn btn-warning d-grid gap-2 col-6 mx-auto">
      Download Your Timesheet
    </button>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-12">
    <a routerLink="/create" class="btn btn-link">Create another timesheet</a>
  </div>
</div>
