<div class="container">
  <div class="row">
    <h1>Timesheet Creator</h1>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <!-- name -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-9">
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Enter your first name."
            ngModel
            name="firstName"
          />
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-9">
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Enter your last name."
            ngModel
            name="lastName"
          />
        </div>
      </div>

      <!-- file number -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">File Number</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="fileNumber"
            placeholder="Enter your 6 or 7 digit file number."
            ngModel
            name="fileNumber"
          />
        </div>
      </div>
<!--
      program name - not connected
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Program Name</label>
        <div class="col-sm-9">
          <select class="form-select">
            <option selected disabled>Select your program:</option>
            <option value="1">Integrated Units</option>
            <option value="2">Courses</option>
            <option value="3">CS Leads</option>
          </select>
        </div>
      </div>

      position title - not connected
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Position Title</label>
        <div class="col-sm-9">
          <select class="form-select">
            <option selected disabled>Select your title:</option>
            <option value="1">Teacher</option>
            <option value="2">Para</option>
            <option value="3">Administrator</option>
          </select>
        </div>
      </div>

      trainings - not connected
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"
          >Select all of the trainings that you participated in:</label
        >
        <div class="col-sm-9">
          <div class="form-check" *ngFor="let t of trainings">
            <input
              class="form-check-input"
              type="checkbox"
              id="{{ t.id }}"
              name="{{ t.name }}"
            />
            <label class="form-check-label" for="flexCheckDefault">
              {{ t.name }}
            </label>
          </div>
        </div>
      </div>

      payroll period - needs a calendar picker
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Payroll Period Ending</label>
        <div class="col-sm-9">
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Enter the payroll period ending date."
            ngModel
            name="periodEnding"
          />
        </div>
      </div>

      signature - should allow for drawing of the signature
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Signature</label>
        <div class="col-sm-9">
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Sign your name."
            ngModel
            name="signature"
          />
        </div>
      </div>
      -->
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
