<div class="container">
  <div class="row">
    <h1>welcome</h1>
    <form>
      <div class="col-sm-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">first name</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
  
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">last name</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <button class="btn-lg btn-primary">Submit</button>
    </form>
  </div>
</div>
